.banner {
    background-image: url("Rectangle26.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 408px;
}

.tittle-banner {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    line-height: 78px;
}

.tittle-heading-2 {
    text-align: left;
    color: var(--black, #16205F);
    font-size: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
}

.content-heading-2 {
    text-align: left;
    color: var(--black, #16205F);
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading-2 {
    margin: 10% auto;
}

.group-2-1 {
    width: 1000px;
    height: 992px;
    flex-shrink: 0;
    border-radius: 0px 20px 100px 20px;
    background: url("Rectangle34.png"), lightgray -477.35px -25.431px / 169.725% 116.273% no-repeat;
}

.group-2-2 {
    position: absolute;
    top: 5%;
    right: 0;
    width: 730px;
    height: 879px;
    flex-shrink: 0;
    border-radius: 100px 0px 0px 0px;
    background: #FFF;
}

.group-2 {
    position: relative;
}

.group-2-2-1 {
    color: var(--default, #16205F);
    width: 100%;
    height: 100%;
    padding: 90px 30px;
}
.group-3{
    text-align: left;
}
.group-3-1_1{
    display: flex;
    width: 100%;
    height: 170px;
    align-items: center;
}
.group-3-2-1{
    height: 170px;
    display: flex;
    align-items: center;
}
.group-3-2-1-1{
    width: 132px;
height: 132px;
flex-shrink: 0;
    border-radius: 12px;
background: var(--yellow-light, #FFF856);
}
@media(max-width:900px){
    .group-2{
        position: unset;
       
    }

    .group-2-2 {
        position: unset;
        width: 100%;
    }

    .group-2-1 {
        width: 100%;
    }
    .form-contact-us{
        display: block;
    }
}