.banner-ourservices {
    background-image: url("../Services/img/banner.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 408px;
}

.header_ourservices {
    color: #16205F;
}

.in4-text p {
    color: #16205F;
    text-align: left;
}

.header_ourservices p {
    font-size: 18px;
    font-family: Poppins;
    ;
}

.custom-group-overlay {
    position: absolute;
    top: 5%;
    right: 0;
    width: 730px;
    height: 879px;
    border-radius: 100px 0px 0px 0px;
    background: #FFF;
}

.custom-group-content {
    color: #16205F;
    padding: 100px 30px;
}

@media(max-width:900px) {
    .custom-group {
        position: unset;
    }

    .custom-group-overlay {
        position: unset;
        width: 100%;
    }

    .custom-group-content {
        width: 100%;
    }
}


.service{
    height: 50%;
}
.service-groups {
    display: flex;
    height: 250px;
}

.service-group {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    background: #FFF856 50% / cover no-repeat;
}

.service-group-img {
    width: 100%;
}

.service-group-text {
    margin-left: 15px;
    width: 100%;
    color: var(--black, #16205F);
    font-family: 'Poppins';
    text-align: left;
}