.image {
  width: 100.375rem;
  height: 25.5rem;
  flex-shrink: 0;
  width: 100%;
}

.backgroundimage {
  width: 100.375rem;
  height: 25.4375rem;
  width: 100%;
  flex-shrink: 0;
  background: url('headimage.png'), lightgray -4.229px -354.861px / 101.459% 250.684% no-repeat;
}

.heading {
  width: 100%;
  display: flex;
  height: 14.25rem;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.page-name {
  display: flex;
  width: 44.4375rem;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 4.875rem;
}

.paragraph {
  display: inline-flex;
  width: 50%;
  height: 6.75rem;
  padding-bottom: 0px;

}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-content {
  margin-top: 100px;
  display: flex;
  width: 23.875rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--black, #16205F);
  font-size: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  line-height: 3.625rem;
}



.paragraph2 {
  display: flex;
  width: 30.4375rem;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: var(--black, #16205F);
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  font-size: 1rem;
}

.paragraph3 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 58.475rem;
  flex-shrink: 0;
  color: var(--black, #16205F);
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  font-size: 1rem;
}

.paragraph4 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32.870rem;
  flex-shrink: 0;
  color: var(--black, #16205F);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.head {
  margin-top: 120px;
  display: flex;
  width: 20.04013rem;
  height: 2.125rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--black, #16205F);
  font-size: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  line-height: 2.25rem;
}

.rectangle1 {
  margin-top: 20px;
  margin-left: 80px;
  width: 75rem;
  height: 22.9375rem;
  flex-shrink: 0;
  background: #FBFBFB;
}

.rectangle2 {
  width: 60rem;
  height: 5.9375rem;
  flex-shrink: 0;
  align-items: center;
  background: #FBFBFB;
}

.role {
  margin-top: 20px;
  display: inline-flex;
  width: 25rem;
  color: var(--black, #16205F);
  font-size: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skill {
  display: inline-flex;
  width: 25rem;
  flex-shrink: 0;
  color: var(--black, #16205F);
  font-size: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.location {
  display: inline-flex;
  width: 19rem;
  color: var(--black, #16205F);
  font-size: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line{
  background: #BBB;
  width: 69.4375rem;
  height: 0.0625rem;
  align-items: center;
  margin-left: 45px;
}

.group1{
  width: 20rem;
height: 10.5rem;
flex-shrink: 0;
display: flex;
}

.role-name{
  margin-top: 30px;
  margin-left: 45px;
  display: flex;
  width: 21rem;
  height: 2.125rem;
  flex-direction: column;
  flex-shrink: 0;
color: var(--black, #16205F);
font-size: 1.225rem;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 1.2rem;
}

.role-content{
margin-left: 45px;
display: flex;
width: 25rem;
height: 5.5rem;
text-align: left;
justify-content: center;
align-items: center;
padding-bottom: 0px;
color: var(--black, #16205F);
font-size: 0.975rem;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.left-side{
  text-align: left;
  width: 30rem;
}

.apply{
margin-left: 45px;
margin-top: 30px;
border-radius: 0.5rem;
background: var(--yellow, linear-gradient(90deg, #F90 0%, #F2CB00 100%));
box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.12);
width: 10rem;
height: 2.375rem;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 1rem;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.learn{
margin-left: 20px;
border-radius: 0.5rem;
width: 10rem;
height: 2.375rem;
color: #16205F;
text-align: center;
font-size: 1rem;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.center{
width: 24rem;
height: 11rem;
flex-shrink: 0;
background-color: #FBFBFB;
justify-content: center;
align-items: center;
margin-top: 25px;

text-align: left;
}

.nodejs{
width: 5rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: var(--yellow-light, #FFF856);
flex-shrink: 0;
font-size: 0.875rem;
}

.reactjs{
margin-left: 10px;
width: 5rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: var(--yellow-light, #FFF856);
flex-shrink: 0;
font-size: 0.875rem;
}

.js{
  width: 5.5rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: var(--yellow-light, #FFF856);
flex-shrink: 0;
font-size: 0.875rem;
}

.nextjs{
  margin-left: 10px;
  width: 5rem;
  height: 1.8125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--yellow-light, #FFF856);
  flex-shrink: 0;
  font-size: 0.875rem;
}

.terraform{
  width: 5.7rem;
  height: 1.8125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--yellow-light, #FFF856);
  flex-shrink: 0;
  font-size: 0.875rem;
}

.c{
  margin-left: 10px;
  width: 7rem;
  height: 1.8125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--yellow-light, #FFF856);
  flex-shrink: 0;
  font-size: 0.875rem;
}

.server{
  width: 12rem;
  height: 1.8125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--yellow-light, #FFF856);
  flex-shrink: 0;
  font-size: 0.875rem;
}

.right-side{
margin-top: 25px;
margin-left: 17.5px;
width: 20rem;
height: 15rem;
flex-shrink: 0;
text-align: left;
justify-content: center;
align-items: center;
}

.right-content{
display: flex;
width: 15rem;
flex-direction: column;
flex-shrink: 0;
color: var(--black, #16205F);
font-size: 1.125rem;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.group2{
  display: flex;
  margin-left: 80px;
  margin-top: 30rem;
  margin-bottom: 50px;
  width: 50.5rem;
height: 50rem;
flex-shrink: 0;
border-radius: 0rem 1.25rem 6.25rem 1.25rem;
background-color: #BBB;
background: url("Rectangle34.png"), lightgray -377.289px -25.431px / 149.713% 102.564% no-repeat;
}

.form{
  margin-top: 60px;
  margin-left: 35rem;
  width: 35.625rem;
  height: 40.9375rem;
  flex-shrink: 0;
  border-radius: 6.25rem 0rem 0rem 0rem;
  background-color: #FFF;
}

.form-name{
  margin-top: 30px;
  margin-left: 60px;
  display: flex;
width: 25.875rem;
height: 7.8125rem;
padding-bottom: 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
flex-direction: column;
color: var(--default, #16205F);
font-size: 1.875rem;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 2.625rem;
}


