.hero-banner-technologies {
    background-image: url("../Technologies/img/banner.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 408px;
}
