
.hero-banner-howwtostart {
    background-image: url("../HowToStart/images/banner.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 408px;
}

.header_howtostart {
    color: #16205F;
}

.header_howtostart p {
    font-size: 18px;
    font-family: Poppins;
}

.custom-group-overlay {
    position: absolute;
    top: 5%;
    right: 0;
    width: 730px;
    height: 879px;
    border-radius: 100px 0px 0px 0px;
    background: #FFF;
}

.custom-group-content {
    color: #16205F;
    padding:100px 30px;
}

@media(max-width:900px) {
    .custom-group {
        position: relative;
    }

    .custom-group-overlay {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .custom-group-content {
        width: 100%;
    }
}